*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: url("https://fondosmil.com/fondo/13700.jpg")no-repeat center/ cover;
}
.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 90px;
	border: 4px solid #DEDEDE;
    background: linear-gradient(to bottom, #021323, #3F86C9, #0D263E) ;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input{
	width: 90%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.button{
    width: 90%;
	height: 40px;
	background: #6d44b8;
    display: flex;
	margin: 10px auto;
	justify-content: center;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: -50px;
	outline: none;
	border: none;
	border-radius: 50px;
	transition: .2s ease-in;
	cursor: pointer;
	mask: linear-gradient(white, transparent 50%);
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-140px);
	transition: .8s ease-in-out;
}
.login Label{
	color: #573b8a;
	transform: scale(.6);
}


#chk:checked ~ .signup label{
	transform: scale(.6);
}
#chk:checked ~ .login{
	transform: translateY(-500px);
}
select {
   position: relative;
   display: block;
   width: 90%;
   height: 40px;
   margin: 20px auto;
   font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
   font-size: 1.1em;
   background: #e0dede;
   outline: none;
   border-radius: 5px;
   padding: 7px;
   border: none;
   outline: none;
}
